body{
   background:url(../img/woo_1.jpg); 
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .row{
	margin: 20px;
    padding: 20px;
}
.container h1{
	color: white;
    text-align: center;
}
.container .row .col-sm-3 .card{
	background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.container .row .col-sm-3 .card .card-body .card-text{
	min-height: 100px;
    max-height: 100px;
}
.container .row .col-sm-3 .card .card-img-top{
	min-height: 100px;
    max-height: 100px;
    border: 1px solid black;
    border-radius: 25px;
}